button#btn_playpause, button#btn_rewind, button#btn_fastforward, button#btn_fastrewind, button#btn_slowforward, button#btn_slowrewind, button#btn_volume, button#btn_captions, button#btn_settings, button#btn_fullscreen{
	background-color: red;
	border: 0;
	outline: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

button#btn_playpause:hover, button#btn_rewind:hover, button#btn_fastforward:hover, button#btn_fastrewind:hover,
button#btn_slowforward:hover, button#btn_slowrewind:hover,
button#btn_volume:hover, button#btn_captions:hover, button#btn_settings:hover, button#btn_fullscreen:hover {
	background-color: yellow;
}

#buffering-overlay {
	position: absolute;
	top: 0;
	left: 0;

	background: rgba(0, 0, 0, .25) url("../img/buffering-overlay.png") no-repeat center;
	text-align: center;
	opacity: 1;
	width: 100%;
	height: 100%;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;

	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;

	background-image: linear-gradient(bottom, rgb(64,64,64) 13%, rgb(0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(64,64,64) 13%, rgb(0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(64,64,64) 13%, rgb(0,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(64,64,64) 13%, rgb(0,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(64,64,64) 13%, rgb(0,0,0) 100%);

	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.13, rgb(64,64,64)),
			color-stop(1, rgb(0,0,0))
	);

	z-index: 1000;
}

#videoDiv:hover #video-controls {
	opacity: .9;
}

#video-controls label, output {
	font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	color: #EEE;
}

#top-row {
	position: relative;
	top: 0;
}

.cell {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	/*overflow-x: hidden;*/
	white-space: nowrap;
}

.cell.button {
	width: 35px;
	height: 30px;
	padding: 3px;
}

.cell.separator {
	background-image: url(../img/playerBack-Separator.png);
}

#left-control-group {
	float: left;
}

#right-control-group {
	float: right;
}

#play_rate {
	position: absolute;
	bottom: 0;
	right: 26px;

	font-size: smaller;
}

#timeDisplay {
	position: absolute;
	float: right;
}
/* Seek Bar */

#seekbar {
	position: relative;
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: transparent;
}

#seekbar div {
	position: relative;
	height: 100%;
	margin-left: 8px;
	margin-right: 8px;
}

#seekbar span {
	position: absolute;
	height: 60%;
	top: 20%;

	display: block;

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#seekbar .playhead {
	z-index: 1011;
	height: 14px;
	width: 14px;
	border: 1px outset #c9cbce;
	position: absolute;
	left: -8px; /* adjust center of playhead over start of range */
	display: block;
	padding: 0;
	margin: 0;

	background: red; /* Old browsers */
	background: -moz-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* FF3.6+ */
	background: -webkit-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* IE10+ */
	background: radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#seekbar .backer {
	z-index: 1004;
	width: 100%;

	background: #414142; /* Old browsers */
	background: -moz-linear-gradient(top,  #414142 0%, #343232 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414142), color-stop(100%,#343232)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #414142 0%,#343232 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #414142 0%,#343232 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #414142 0%,#343232 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #414142 0%,#343232 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414142', endColorstr='#343232',GradientType=0 ); /* IE6-9 */

}

#seekbar .buffer {
	z-index: 1005;
	position: absolute;

	background: #4b4b4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4b4b4c 0%, #818184 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4c), color-stop(100%,#818184)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4b4b4c 0%,#818184 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4b4b4c 0%,#818184 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4b4b4c 0%,#818184 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4b4b4c 0%,#818184 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4c', endColorstr='#818184',GradientType=0 ); /* IE6-9 */
}

#seekbar .progress {
	z-index: 1010;
	position: absolute;

	background: #4591ce; /* Old browsers */
	background: -moz-linear-gradient(top,  red 0%, red 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,red)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  red 0%, red 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  red 0%, red 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  red 0%, red 100%); /* IE10+ */
	background: linear-gradient(to bottom,  red 0%, red 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */
}

#popup-panel {
	position: relative;
}

#btn_playpause {
	background-image: url(../img/playBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_playpause:hover {
	background-image: url(../img/playBtn_HOVER.png);
}

#btn_playpause:active {
	background-image: url(../img/playBtn_DOWN.png);
}

#btn_playpause:disabled {
	background-image: url(../img/playBtn_DISABLE.png);
}

#btn_playpause.pause-state {
	background-image: url(../img/pauseBtn_NORMAL.png);
}

#btn_playpause.pause-state:hover {
	background-image: url(../img/pauseBtn_HOVER.png);
}

#btn_playpause.pause-state:active {
	background-image: url(../img/pauseBtn_DOWN.png);
}

#btn_playpause.pause-state:disabled {
	background-image: url(../img/pauseBtn_DISABLE.png);
}

#btn_playpause.replay-state {
	background-image: url(../img/replayBtn_NORMAL.png);
}

#btn_playpause.replay-state:hover {
	background-image: url(../img/replayBtn_HOVER.png);
}

#btn_playpause.replay-state:active {
	background-image: url(../img/replayBtn_DOWN.png);
}

#btn_playpause.replay-state:disabled {
	background-image: url(../img/replayBtn_DISABLE.png);
}

#rng_volumebar {
	position: absolute;
	top: 0;
}

#volume_slide_container {
	background: url(../img/volumeContainer.png) no-repeat top center;

	/* set width to volume button */
	width: 35px;
	height: 153px;
	top: -153px;

	position:absolute;

	/* z-index must be higher than seek bar */
	z-index: 2000;
}

#btn_volume {
	background-image: url(../img/volumeBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;

	z-index: 2001;
}

#btn_volume:hover, #volume_slide_container:hover + #btn_volume {
	background-image: url(../img/volumeBtn_HOVER.png);
}

#btn_volume:active {
	background-image: url(../img/volumeBtn_DOWN.png);
}

#btn_volume:disabled {
	background-image: url(../img/volumeBtn_DISABLE.png);
}

#btn_volume.mute-state {
	background-image: url(../img/muteBtn_NORMAL.png);
}

#btn_volume.mute-state:hover, #volume_slide_container:hover + #btn_volume.mute-state {
	background-image: url(../img/muteBtn_HOVER.png);
}

#btn_volume.mute-state:active {
	background-image: url(../img/muteBtn_DOWN.png);
}

#btn_volume.mute-state:disabled {
	background-image: url(../img/muteBtn_DISABLE.png);
}

#btn_fullscreen {
	background-image: url(../img/fullscreenBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_fullscreen:hover {
	background-image: url(../img/fullscreenBtn_HOVER.png);
}

#btn_fullscreen:active {
	background-image: url(../img/fullscreenBtn_DOWN.png);
}

#btn_fullscreen:disabled {
	background-image: url(../img/fullscreenBtn_DISABLE.png);
}

#btn_fullscreen.fullscreen-state {
	background-image: url(../img/exitfullscreenBtn_NORMAL.png);
}

#btn_fullscreen.fullscreen-state:hover {
	background-image: url(../img/exitfullscreenBtn_HOVER.png);
}

#btn_fullscreen.fullscreen-state:active {
	background-image: url(../img/exitfullscreenBtn_DOWN.png);
}

#btn_fullscreen.fullscreen-state:disabled {
	background-image: url(../img/exitfullscreenBtn_DISABLE.png);
}

#btn_captions {
	background-image: url(../img/ccBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	/* actual dimensions are 24x24 */
	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_captions:hover {
	background-image: url(../img/ccBtn_HOVER.png);
}

#btn_captions:active {
	background-image: url(../img/ccBtn_DOWN.png);
}

#btn_captions:disabled {
	background-image: url(../img/ccBtn_DISABLE.png);
}

#btn_captions.captions-off {
	background-image: url(../img/ccBtnOff_NORMAL.png);
}

#btn_captions.captions-off:hover {
	background-image: url(../img/ccBtnOff_HOVER.png);
}

#btn_captions.captions-off:active {
	background-image: url(../img/ccBtnOff_DOWN.png);
}

#btn_captions.captions-off:disabled {
	background-image: url(../img/ccBtnOff_DISABLE.png);
}

#btn_fastforward {
	background-image: url(../img/fastforwardBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_fastforward:hover {
	background-image: url(../img/fastforwardBtn_HOVER.png);
}

#btn_fastforward:active {
	background-image: url(../img/fastforwardBtn_DOWN.png);
}

#btn_fastforward:disabled {
	background-image: url(../img/fastforwardBtn_DISABLE.png);
}

#btn_slowforward {
    background-image: url(../img/slowforwardBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 35px;
    height: 30px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_slowforward:hover {
    background-image: url(../img/slowforwardBtn_HOVER.png);
}

#btn_slowforward:active {
    background-image: url(../img/slowforwardBtn_DOWN.png);
}

#btn_slowforward:disabled {
    background-image: url(../img/slowforwardBtn_DISABLE.png);
}

#btn_fastrewind {
	background-image: url(../img/fastrewindBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_fastrewind:hover {
	background-image: url(../img/fastrewindBtn_HOVER.png);
}

#btn_fastrewind:active {
	background-image: url(../img/fastrewindBtn_DOWN.png);
}

#btn_fastrewind:disabled {
	background-image: url(../img/fastrewindBtn_DISABLE.png);
}

#btn_slowrewind {
    background-image: url(../img/slowrewindBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 35px;
    height: 30px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_slowrewind:hover {
    background-image: url(../img/slowrewindBtn_HOVER.png);
}

#btn_slowrewind:active {
    background-image: url(../img/slowrewindBtn_DOWN.png);
}

#btn_slowrewind:disabled {
    background-image: url(../img/slowrewindBtn_DISABLE.png);
}

#btn_settings {
	background-image: url(../img/settingsBtn.png);
	background-repeat: no-repeat;
	background-position: center;

	/* actual dimensions are 24x24 */
	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_settings:hover {
	background-image: url(../img/settingsBtn_DOWN.png);
}

#btn_settings:active {
	background-image: url(../img/settingsBtn_DOWN.png);
}

#btn_settings:disabled {
	background-image: url(../img/settingsBtn.png);
}

#btn_settings.on {
	background-image: url(../img/settingsBtn_DOWN.png);
}

#btn_settings.on:hover {
	background-image: url(../img/settingsBtn.png);
}

#btn_settings.on:active {
	background-image: url(../img/settingsBtn.png);
}

#btn_settings.on:disabled {
	background-image: url(../img/settingsBtn.png);
}

#btn_rewind {
	background-image: url(../img/10secBtn_NORMAL.png);
	background-repeat: no-repeat;
	background-position: center;

	width: 35px;
	height: 30px;

	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
}

#btn_rewind:hover {
	background-image: url(../img/10secBtn_HOVER.png);
}

#btn_rewind:active {
	background-image: url(../img/10secBtn_DOWN.png);
}

#btn_rewind:disabled {
	background-image: url(../img/10secBtn_DISABLED.png);
}

.display {
	font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	color: red;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 20%;

	background: red; /* Old browsers */
	background: -moz-linear-gradient(top,  red 0%, red 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,red)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  red 0%, red 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  red 0%, red 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  red 0%, red 100%); /* IE10+ */
	background: linear-gradient(to bottom,  red 0%, red 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */
}

input[type=range]::-moz-range-track {


	background: red; /* Old browsers */
	background: -moz-linear-gradient(top,  red 0%, red 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,red)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  red 0%, red 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  red 0%, red 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  red 0%, red 100%); /* IE10+ */
	background: linear-gradient(to bottom,  red 0%, red 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */
}

[type=range]::-ms-track {

	background: transparent;
	color: transparent;
}

[type=range]::-ms-fill-lower {

	background: red; /* Old browsers */
	background: -moz-linear-gradient(top,  red 0%, red 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,red)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  red 0%, red 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  red 0%, red 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  red 0%, red 100%); /* IE10+ */
	background: linear-gradient(to bottom,  red 0%, red 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */
}

[type=range]::-ms-fill-upper {
	background: red; /* Old browsers */
	background: -moz-linear-gradient(top,  red 0%, red 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,red)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  red 0%, red 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  red 0%, red 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, red 0%, red 100%); /* IE10+ */
	background: linear-gradient(to bottom,  red 0%, red 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */
}

input[type=range][orient=vertical]::-webkit-slider-thumb {
	margin-left: -5px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px outset #c9cbce;
	width: 10px;
	height: 10px;

	background: red; /* Old browsers */
	background: -moz-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* FF3.6+ */
	background: -webkit-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* IE10+ */
	background: radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

input[type=range]::-moz-range-thumb {
	border: 1px outset #c9cbce;
	width: 10px;
	height: 10px;

	background: red; /* Old browsers */
	background: -moz-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* FF3.6+ */
	background: -webkit-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* IE10+ */
	background: radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

input[type=range]::-ms-thumb {
	border: 1px outset #c9cbce;
	width: 10px;
	height: 10px;

	background: red; /* Old browsers */
	background: -moz-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* FF3.6+ */
	background: -webkit-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Chrome10+,Safari5.1+ */	
	background: -o-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* Opera 11.10+ */
	background: -ms-radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* IE10+ */
	background: radial-gradient(circle, red 0%, red 40%, #c9cbce 45%, #dedee1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cbce', endColorstr='#dedee1',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

input[type=range][orient=vertical]
{
	writing-mode: bt-lr;  /* IE */
	-webkit-appearance: slider-vertical;

	width: 25px;
	height: 114px;
	padding: 0 5px;
	margin: 5px 0;
	cursor: pointer;
}